<GridLayout rows="auto,*" backgroundcolor="lightgray" >
  <StackLayout row="0" >
<ActionBar class="action">
<NavigationButton ios:visibility="collapsed" icon="res://menu" class="icon" (tap)="onDrawerButtonTap()"></NavigationButton>
<Image src="res://logo1"  stretch="aspectFill" class="logo" ></Image>
</ActionBar>
</StackLayout>

<ScrollView row="1">
  <StackLayout>
<GridLayout class="homeindex">
    <Image src="~/images/ridings.jpg" ></Image>
  <GridLayout  verticalAlignment="bottom">
  <StackLayout>
<Label text="SHIV"></Label>
  </StackLayout>
  </GridLayout>
  </GridLayout>

  <GridLayout columns="*,*" rows="*,*,*">

    <GridLayout  row="0", col="0" padding="5" >
        <StackLayout backgroundcolor="white">
    <Image src="~/images/shiv1.jpg"></Image>
     <StackLayout row="0">
     <Label text="SHIV SPORT" class="lbl"></Label>
     </StackLayout>
     <StackLayout row="1">
     <Label text="‎€ 2,599.00" class="lbl2"></Label>
     </StackLayout>
    </StackLayout>
    </GridLayout>

    <GridLayout  row="0", col="1" padding="5" >
        <StackLayout backgroundcolor="white">
      <Image src="~/images/shiv2.jpg"></Image>
       <StackLayout row="0">
       <Label text="SHIV ELITE" class="lbl" ></Label>
       </StackLayout>
       <StackLayout row="1">
       <Label text="‎€ 3,099.00" class="lbl2"></Label>
       </StackLayout>
        </StackLayout>
      </GridLayout>

      <GridLayout  row="1", col="0" padding="5" >
          <StackLayout backgroundcolor="white">
        <Image src="~/images/shiv3.jpg"></Image>
         <StackLayout row="0">
         <Label text="SHIV SW DISC MODULE" class="lbl" ></Label>
         </StackLayout>
         <StackLayout row="1">
         <Label text="‎€ 4,999.00" class="lbl2"></Label>
         </StackLayout>
          </StackLayout>
        </GridLayout>

        <GridLayout  row="1", col="1" padding="5">
            <StackLayout backgroundcolor="white">
          <Image src="~/images/shiv4.jpg"></Image>
           <StackLayout row="0">
           <Label text="SHIV EXPERT DISC UDI2" class="lbl"></Label>
           </StackLayout>
           <StackLayout row="1">
           <Label text="‎€ 8,499.00" class="lbl2"></Label>
           </StackLayout>
            </StackLayout>
          </GridLayout>

          <GridLayout  row="2", col="0" padding="5" >
              <StackLayout backgroundcolor="white">
            <Image src="~/images/shiv5.jpg"></Image>
             <StackLayout row="0">
             <Label text="SHIV SW DISC ETAP" class="lbl"></Label>
             </StackLayout>
             <StackLayout row="1">
             <Label text="‎€ 11,999.00" class="lbl2"></Label>
             </StackLayout>
            </StackLayout>
            </GridLayout>

            <GridLayout  row="2", col="1" padding="5" >
                <StackLayout backgroundcolor="white">
              <Image src="~/images/shiv6.jpg"></Image>
               <StackLayout row="0">
               <Label text="SHIV SW DISC DI2" class="lbl" ></Label>
               </StackLayout>
               <StackLayout row="1">
               <Label text="‎€ 11,999.00" class="lbl2"></Label>
               </StackLayout>
                </StackLayout>
              </GridLayout>



</GridLayout>
</StackLayout>
</ScrollView>
</GridLayout>

