<GridLayout rows="auto,*" backgroundcolor="lightgray" >
    <StackLayout row="0">
        <ActionBar class="action">
            <StackLayout orientation="horizontal">
                <GridLayout>
            <Label text="&#xf060;" class="fa sidedrawer-icon" (tap)="onBack($event)" horizontalAlignment="left" ></Label>
            <Image src="res://logo1"  stretch="aspectFill" class="logo" ></Image>
           <Button text="Share" (tap)="shareUrl()" horizontalAlignment="right" color="white" backgroundcolor="black" ></Button>
       </GridLayout>
       </StackLayout>
       </ActionBar>
       </StackLayout>

<GridLayout>
  <StackLayout>
    <Image src="~/images/winteracties.jpg"></Image>
  </StackLayout>
</GridLayout>

</GridLayout>
