<RadSideDrawer>
<GridLayout tkDrawerContent rows="auto,*" class="maincontent">
    <StackLayout row="0" class="titlemaincontent">
        <Label text="Navigation"></Label>
        <hr>
        </StackLayout>

        <ScrollView row="1">
            <StackLayout class="stackcolor">

                <GridLayout columns="auto,*" class="drawertext" (tap)="onNavItemTap('/home')"
                [class.-selected]="isComponentSelected('/home')">
                 <Image  src="res://home1" class="iconimg"></Image>
                <Label col="1" text="Home"></Label>
                </GridLayout>


               <GridLayout columns="auto,*" class="drawertext" (tap)="onNavItemTap('/news')"
                [class.-selected]="isComponentSelected('/news')">
                 <Image col="0" src="res://news" stretch="aspectFill" class="iconimg"></Image>
                <Label col="1" text="News"></Label>
                </GridLayout>
                <StackLayout class="hr"></StackLayout>

               <GridLayout columns="auto,*" class="drawertext"(tap)="onNavItemTap('/bicycles')"
                [class.-selected]="isComponentSelected('/bicycles')">
                 <Image col="0" src="res://feature" stretch="aspectFill" class="iconimg"></Image>
                <Label col="1" text="Bicycles"></Label>
                </GridLayout>
                <StackLayout class="hr"></StackLayout>

                <GridLayout columns="auto,*" class="drawertext" (tap)="onNavItemTap('/aboutus')"
                [class.-selected]="isComponentSelected('/aboutus')">
                <Image col="0" src="res://about" stretch="aspectFill" class="iconimg"></Image>
                <Label col="1" text="About Us"></Label>
                </GridLayout>
                <StackLayout class="hr"></StackLayout>

                <GridLayout columns="auto,*" class="drawertext" (tap)="onNavItemTap('/contact')"
                [class.-selected]="isComponentSelected('/contact')">
                <Image col="0" src="res://contact" stretch="aspectFill" class="iconimg"></Image>
                <Label col="1" text="Contact"></Label>
                </GridLayout>
                <StackLayout class="hr"></StackLayout>


            </StackLayout>
        </ScrollView>
</GridLayout>

<GridLayout rows="*,auto" tkMainContent >
<StackLayout row="0">
    <page-router-outlet></page-router-outlet>
</StackLayout>

<StackLayout row="1">
    <GridLayout columns="*,*,*,*,*">
       <StackLayout col="0" (tap)="onNavItemTap('/home')" class="bottomtext" [class.-selected]="isComponentSelected('/home')">
    <Image src="res://home1" stretch="aspectFill" class="iconimg"></Image>
    <Label text="Home"></Label>
    </StackLayout>

    <StackLayout col="1" (tap)="onNavItemTap('/news')" class="bottomtext" [class.-selected]="isComponentSelected('/news')">
        <Image src="res://news" stretch="aspectFill" class="iconimg"></Image>
        <Label text="News"></Label>
        </StackLayout>

        <StackLayout col="2" (tap)="onNavItemTap('/bicycle')" class="bottomtext" [class.-selected]="isComponentSelected('/bicycle')">
            <Image src="res://feature" stretch="aspectFill" class="iconimg"></Image>
            <Label text="Bicycle"></Label>
            </StackLayout>

            <StackLayout col="3" (tap)="onNavItemTap('/aboutus')" class="bottomtext" [class.-selected]="isComponentSelected('/aboutus')">
                <Image src="res://about" stretch="aspectFill" class="iconimg"></Image>
                <Label text="About Us"></Label>
                </StackLayout>

                <StackLayout col="4" (tap)="onNavItemTap('/contact')" class="bottomtext" [class.-selected]="isComponentSelected('/contact')">
                    <Image src="res://contact" stretch="aspectFill" class="iconimg"></Image>
                    <Label text="Contact"></Label>
                    </StackLayout>

    </GridLayout>
    </StackLayout>

</GridLayout>

</RadSideDrawer>
