/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/

@import '~nativescript-theme-core/css/core.dark.css';

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/

.maincontent {
    padding: 10;
}

.titlemaincontent {
    height: 70;
    text-align: center;
    vertical-align: center;
    background-color: black;
}

.-selected{
    background-color: darkslategray;
}

.drawertext {
    margin-top: 10;
    padding: 10;
    text-align: center;
    vertical-align: center;
    color: white;
}

/* .sideLightGrayLabel {
    background-color: lightgray;
} */

/* Image {
    width: 40;
    height: 40;

} */

.iconimg{
    width: 40;
    height: 40;
}

.fa{
    width: 20;
    margin-right: 10;
}

.nav
{
    height: 40;
    width: 40;
    text-align: right;
}

.bottomtext{
    text-align: center;
    padding: 5;
    color: white;
}

.bikeName{
    color:  white;
    font-weight: bold;
    font-size: 40;
}

.bikeDetail {
    color:  white;
    font-size: 14;
    text-transform: uppercase;
}

.homeindex{
    font-size: 12;
    color: white;
    margin-bottom: 10;
}

.logo{
    height: 50;
    width: 160;

}

.action {
    background-color: black;

}

.stackcolor {
    background-color: black;
}

.hindex{
    font-size: 15;
    color: white;
    margin-bottom: 10;
    height: 180;
}

.lbl {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15;
}

.lbl1 {
    font-weight: 800;
    font-size: 20;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lbl2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15;
    color: green;
}

.lbl3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15;
    color: black;
}

.sidedrawer-icon {
    font-size: 22;
    width: 40;
    height: 30;
    vertical-align: center;
    color: white;

}

.hr {
    background-color: white;
    padding-bottom: 1;
}

.sidedrawer {
    color: white;
    font-size: 20;
    text-align: center;
    background-color: black;
}

.tapbutton {
    color: white;
    background-color: black;

}

.select {
    background-color: rgb(14, 219, 219);
}

.faroad{
    font-size: 17;
    border-radius: 50%;
    border-width: 2;
    border-color: #393b3f;
    width: 45;
    height: 45;
    background-color: #393b3f;
    vertical-align: center;
    color: white;
    text-align: center;
}
